@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
  align-content: center;
  font-family: 'Montserrat', serif;  
}

.h1{
  text-align: center;
  font-weight:bold;
  font-size: 40px;
  padding-bottom: 0ch;
}

.p{
  text-align: center;
  font-weight:bold;
  font-size: 20px;
  padding-bottom: 0ch;
}

#p1Button{
	font-size: 1.1rem;
  text-align: center;
  padding: 10px;
  margin-left: 50px;
  margin-right: 20px;
  border: 2px solid darkgray;
  border-radius: 25px;
  border-spacing: 2px;
  box-shadow: 7px 7px 5px rgba(12, 12, 12, 0.77);
  background-color: #ffffff;
}

#p2Button{
	font-size: 1.1rem;
  text-align: center;
  padding: 10px;
  margin-left: 0px;
  margin-right: 50px;
  border: 2px solid darkgray;
  border-radius: 25px;
  border-spacing: 2px;
  box-shadow: 7px 7px 5px rgba(12, 12, 12, 0.77);
  background-color: #ffffff;
}
